<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="js/angular.min.js"></script>
  
</head>




  <script>
  'use strict';

/* Controllers */

var phonecatApp = angular.module('phonecatApp', []);

phonecatApp.controller('PhoneListCtrl', function($scope) {
	$scope.phones = [
					{'url': 'http://insta/test',
					 'text': 'look at my lunch!',
					 'id': 1},
					 
					{'url': 'http://insta/test2',
					 'text': 'look at my dinner!',
					 'id': 2},
					 
					 
					{'url': 'http://twitter/test2',
					 'text': 'I farted!',
					 'id': 3},
					 
					];
	
  $scope.orderProp = 'age';
});
  </script>
  


<body ng-controller="PhoneListCtrl">

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <!--Sidebar content-->

        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>

      </div>
      <div class="span10">
        <!--Body content-->

        <ul class="phones">
          <li ng-repeat="phone in phones | filter:query">
            {{phone.text}}
            <p>{{phone.url}}</p>
          </li>
        </ul>

      </div>
    </div>
  </div>

</body>
</html>
