<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Twitter and instagram Top Post list</title>
 
  <!-- <link rel="stylesheet" href="css/app.css"> -->
  <!--<link rel="stylesheet" href="css/bootstrap.css"> -->
  
  
	<script src="lib/jquery/jquery-1.10.2.min.js"></script>

	<script src="js/angular.min.js"></script>
	<script src="js/controller.js"></script>
  
</head>

<body ng-app="socialblendApp" ng-controller="PostListCtrl">

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
      
        <!--Sidebar content-->
        
        <form ng-submit="doSearch(input)">

		    Search: <input ng-model="input" id="tag-serach-input" placeholder="Search for tags">
		    Sort by: (doesn't work) <br />
		    <select ng-model="orderProp">
		      <option value="name">Alphabetical</option>
		      <option value="age">Newest</option>
		    </select>
		    
		    <input type="submit">
		    
        </form>
        
        <button ng-click="searchInstaPopular()">Load more!</button>

      </div>
      
      <div class="span10">
        <!--Body content-->

        <ul>
          <li ng-repeat="post in posts">
            {{post.text}}
            <p>{{post.url}}</p>
            <img ng-show="post.pic" src="{{post.pic}}">
          </li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>
